<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    {% load static %}

    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'gallery' %}">Gallery</a>

    <link rel="icon" href="{% static 'assets/img_7.png' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
<h1>Additional information about ShopSwift</h1>


<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto delectus dolore, dolorem enim inventore itaque laboriosam maiores sequi vel velit. Aliquid assumenda cumque dolor fugit illo maxime, omnis quia rem.</span><span>Accusantium aliquam, atque consequuntur dicta dolor esse iste minima neque non odio officia quas tenetur, vero. Nam officia, quas? Ducimus et fuga inventore magnam necessitatibus nesciunt nobis quam quis voluptate.</span></p>

<h2>Why choose us?</h2>
<div id="main">
    <div class="mydiv">

        <img src="{% static 'assets/img_9.png' %}" alt="" class="image">
        <h3>Quartz</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deleniti dolorum, ea eveniet excepturi fuga impedit magnam magni maiores molestias mollitia quam quibusdam quos repellat ullam. Ipsam nostrum praesentium quod?</span><span>Beatae dolor eos error laborum nobis repellat sit veniam voluptatem! Consequatur eligendi et fugiat. At cupiditate delectus distinctio dolorum eaque eius iste libero modi, nihil officiis quisquam reiciendis? Corporis, voluptatum!</span></p>
        <button>More</button>

    </div>
    <div class="mydiv">
        <img src="{% static 'assets/img_10.png' %}" alt="" class="image">
        <h3>Casio</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut consequatur dolore eaque, exercitationem iste nesciunt nulla quae quasi quidem quis ratione suscipit unde velit vitae voluptate voluptates. Enim, optio!</span><span>Alias aliquid animi atque aut autem blanditiis distinctio doloremque, doloribus eaque esse explicabo iusto laboriosam laborum magni minus modi, nemo officiis perferendis perspiciatis recusandae rem soluta tenetur voluptates. Iusto, quam?</span></p>
<button>More</button>
    </div>
    <div class="mydiv">
        <img src="{% static 'assets/img_11.png' %}" alt="" class="image">
        <h3>Drik</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores enim est officiis quia quod tempore vitae! Ab asperiores fuga incidunt nesciunt non porro praesentium quia, rem sapiente sit unde veritatis?</span><span>Accusantium assumenda atque consectetur corporis debitis dolorum eos excepturi incidunt itaque laudantium mollitia necessitatibus nihil nobis numquam, odit pariatur quam quos reprehenderit, saepe totam vero voluptas voluptates. Ea, eum maiores.</span></p>
        <button>More</button>

    </div>

</div>


</body>
</html>