<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>

    <style>
        h1{
            text-align: center;
            background-color: black;
            color: white;
            line-height: 80px;

        }

h1:hover{
    background-color: #3875d7;
}
        img{
            width: 280px;
            height: 280px;
        }
    </style>

    {% load static %}
</head>
<body>
<h1>Products Offered</h1>
<p1>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos doloribus esse, ex facere incidunt iusto,
        minima nesciunt non omnis quam qui quia quibusdam rem saepe sed totam veniam, veritatis voluptas.
    </div>
    <div>Ab aperiam aut corporis delectus dolorem illo laborum minus officiis, quisquam voluptas. At delectus error
        nostrum nulla provident quam reiciendis! Accusamus amet architecto autem doloremque dolorum fugit iste nam,
        voluptas.
    </div>
    <div>Atque cupiditate debitis delectus doloribus eius error eum explicabo fugiat, impedit ipsum laborum maiores
        minima minus natus nobis non officia pariatur placeat quos ratione repudiandae sit soluta unde voluptas
        voluptatibus!
    </div></p1>
<img src="{% static 'assets/img.png' %}" alt="">
<img src="{% static 'assets/img_1.png' %}" alt="">
<img src="{% static 'assets/img_2.png' %}" alt="">
<img src="{% static 'assets/img_3.png' %}" alt="">
<img src="{% static 'assets/img_4.png' %}" alt="">
<img src="{% static 'assets/img_5.png' %}" alt="">
<img src="{% static 'assets/img_6.png' %}" alt="">



</body>
</html>