<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
     {% load static %}
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'gallery' %}">Gallery</a>
     <link rel="icon" href="{% static 'assets/img_8.png' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <style>

        h1{
            color: #3875d7;
            font-size: 50px;
            text-shadow: 8px 8px 8px lightpink;
            text-align: center;
        }
    </style>
    
</head>
<body>
<a href="{% url 'about' %}"></a>

<marquee behavior="" direction=""><h1>Welcome to ShopSwift</h1></marquee>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic impedit, itaque quidem repellat reprehenderit sapiente sed! Culpa delectus dolorum illo labore nesciunt non pariatur perspiciatis quae quasi, repudiandae. Suscipit, voluptatum!</span><span>Omnis praesentium quae quibusdam! Corporis sint soluta vero voluptas. Adipisci cupiditate debitis distinctio eum expedita facere, facilis fugit in mollitia obcaecati officiis, placeat porro quidem quo tempora veniam vero voluptatem.</span></p>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium beatae in necessitatibus? Aliquam aliquid asperiores cum doloremque eum ipsum numquam quaerat quos, ratione recusandae repellendus saepe sequi ullam voluptate voluptatum.</span><span>Accusamus blanditiis commodi dicta est facilis fugit molestiae necessitatibus nemo odit optio pariatur quasi qui, quidem quis temporibus. Consequatur doloribus iste iusto laboriosam nihil officiis vero? Architecto perferendis perspiciatis voluptates.</span><span>Aliquam aspernatur aut autem consectetur ipsa itaque mollitia, officia quae quaerat ratione saepe sit sunt tempore ullam ut veniam vero. Aliquam architecto assumenda error excepturi expedita maiores quas quia vero.</span></p>
</body>
</html>