<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products Page</title>
    {% load static %}
    {% static 'bootstrap/css/bootstrap-grid.min.css' %}
    {% static 'bootstrap/js/bootstrap.bundle.min.js' %}

</head>
<body>
<h1>Products details</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorem dolores eaque fugit laboriosam necessitatibus nostrum provident reiciendis repellat voluptates? Accusamus aut eos nam natus perspiciatis porro quam quis ut.</span><span>Accusamus aperiam aut cumque dolor, exercitationem in labore magni porro quidem voluptates? Asperiores, aspernatur at consectetur dicta distinctio doloribus facilis in modi molestias neque qui quidem quo soluta veniam, vitae?</span></p>

<table>
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Quality</th>
        <th>Product Quantity</th>
    </tr>
    <tr class="bg bg-secondary">
        <td>1</td>
        <td>Wheat</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Rice</td>
        <td>Good</td>
        <td>250 Bags</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
</table>
</body>
</html>